* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: "Russo One", sans-serif;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px black, 5px 5px 0px black;
  font-size: 65px;
}

.wrapper_div {
  padding: 40px 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#pwd_input_displayer {
  margin-top: 10px;
  text-decoration: none;
  outline: none;
  padding: 15px 35px;
  text-align: center;
  font-size: 30px;
  font-family: "Zen Dots", sans-serif;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(41, 6, 86, 0.5);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(41, 6, 86, 0.5);
}

.buttons_wrapper {
  display: flex;
  justify-content: space-around;
}
button {
  color: rgb(255, 255, 255);
  background-color: rgb(227, 147, 28);
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
  cursor: pointer;
  font-size: 30px;
}

button:active {
  background: #e0e0e0;
  box-shadow: inset 15px 15px 30px #bebebe, inset -15px -15px 30px #ffffff;
  color: black;
  opacity: 1;
}

.length_parameters_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px black, 5px 5px 0px black;
  vertical-align: middle;
}

.length_parameters_container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
  border: 8px solid orange;
}

.length_parameters_container input[type="range"] {
  width: auto;
  height: 10px;
  background: #3700ff;
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
}

.length_parameters_container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.length_parameters_container input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.loaderGlassmorph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(41, 6, 86, 0.8);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 4px solid rgba(227, 147, 28, 0.9);
  padding: 20px 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 9, 104, 0.7) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.loader {
  border: 16px solid #ff0000;
  border-radius: 50%;
  border-top: 16px solid #00070c;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alertMessage {
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px black, 5px 5px 0px black;
}

.audio_div {
  visibility: hidden;
}

audio {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(255, 183, 28, 0.5);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(245, 111, 21, 0.5);
}

button.music_starter {
  align-items: center;
  margin: 30px auto;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}

button.music_starter > i {
  margin-right: 5px;
}

footer {
  text-align: center;
  color: white;
  font-family: "Russo One", sans-serif;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black,
    4px 4px 0px black, 5px 5px 0px black;
}
